@media(max-width: 600px) {img { width: 100%; }}
@media(min-width: 600px) {#content { width: 40em; margin: 0 auto }}
body { font-size: 130%; font-family: "Garamond", "Times", serif; padding: 2px; margin: 0}
/* h1,h2,h3,h4,h5 {margin-top: 1em; text-align: left;} */
blockquote { border-left: 1px solid #ddd; padding-left: 2em;}
.post-body { text-align: justify; }
.post-body h2, .post-body h3, .post-body h4 { font-weight: bold; }

h1#main-title { margin-bottom:0; }
header { margin-bottom: 3em; }
header img {float: left; margin: 1em 1em 0 0; width:15%; border: 1px solid #aaa; }
header h3 { font-style: italic; margin: 0; }
header h1, header h3 { display: inline-block;}

.post-list { clear: both; margin: 3em 0;}
.post-list li { margin-bottom: 1em; }

.post-list li .outline { margin: 0; }

img.inset { float: right; padding-left: 2em;}
div.post-nav { border-top: 1px #eee solid; padding: 1em 0; }
div.post-nav > div { font-size: 90%; float: left; width: 33%; }
div.post-nav > div.next { text-align:right;}
div.post-nav > div.up { text-align:center;}
footer { border-top: 1px #eee solid; }
#lfooter { float: left; }
#rfooter { float: right; }

.post-body > h1 { margin-bottom: 0; }
.post-body .heading { font-style:italic; margin-bottom: 2em; border-bottom: #eee 1px solid; }
.post-body .post-date { font-style:italic; }
footer { text-align: justify; font-size: 90%; clear: both; padding-top: 1em;}
.post-body pre { padding: 15px; border: 1px solid #ddd; background-color: #eaffff; overflow-x: auto;}
/* .post-body code {border: 1px solid #ddd;} */
.post-body pre code {border: none;}
